.MasterSearchTextbox {
    border-style: none;
    width: 875px;
    padding-left: 22px;
    height: 18px;
    border-top: 1px solid #cecdce;
    border-bottom: 1px solid #cecdce;
    color: #807f7f;
    -ms-opacity: 0.5;
    opacity: 0.5;
    background-image: url('../Images/SearchBackground.png');
    background-repeat: no-repeat;
    text-align: center;
}