.PageholderTable {
    width: 900px; /* Fixed width of the website */
    /*background-color: #f0efef;*/
    background-color: rgba(240, 238, 293, .5);
    border-left:1px solid #a2a2a2;
    border-right:1px solid #a2a2a2;
    /*min-height: 100%;
    height: auto;
    height: 100%;*/
}