/*body element styles override for "The Studio" link and sub pages*/

.TheStudioList td {
    padding: 3px;
    text-align: center;
    vertical-align: top;
}

.TheStudioList img {
    border: 1px solid #636363;
    padding: 2px;
    background: #FFFFFF;
}

.TheStudioList h2 {
    float: left;
}