body h2 {
    margin: 0px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #437db3;
    color: #437db3;
    font-weight: 100;
    font-size: 22px;
    font-family: Impact;
}

body h3 {
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    color: #404040;
    font-weight: 100;
    font-size: 12px;
    font-family: Arial;
    line-height: 25px;
}

body h4 {
    color: #595a5a;
    font-style: normal;
    font-family: Impact;
    font-size: 17px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

body h5 {
    width: 200px;
    font-weight: 600;
    float: left;
    margin-left: 15px;
    padding-bottom: 2px;
    padding-top: 3px;
    color: #595a5a;
}