.MainLink {
    width: 430px;
    height: 502px;
    background-image: url('../Images/Home_MainLink_BW.jpg');
    display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .MainLink:hover {
        background-image: url('../Images/Home_MainLink.jpg');
    }

.SubLink1 {
    width: 208px;
    height: 247px;
    background-image: url('../Images/Home_SubLink1_BW.jpg');
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .SubLink1:hover {
        background-image: url('../Images/Home_SubLink1.jpg');
    }

.SubLink2 {
    width: 208px;
    height: 247px;
    background-image: url('../Images/Home_SubLink2_BW.jpg');
    display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .SubLink2:hover {
        background-image: url('../Images/Home_SubLink2.jpg');
    }

.SubLink3 {
    width: 208px;
    height: 247px;
    background-image: url('../Images/Home_SubLink3_BW.jpg');
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .SubLink3:hover {
        background-image: url('../Images/Home_SubLink3.jpg');
    }

.SubLink4 {
    width: 208px;
    height: 247px;
    background-image: url('../Images/Home_SubLink4_BW.jpg');
    display: block;
    margin-top: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .SubLink4:hover {
        background-image: url('../Images/Home_SubLink4.jpg');
    }
