.PrimaryLink {
    text-align: center;
    width: 440px;
    float: left;
    margin-left: 3px;
}

    .PrimaryLink a {
        border: 2px solid #999999;
    }

/*.PrimaryLink a {
        opacity: .7;
        filter: alpha(opacity=70); 
    }

        .PrimaryLink a:hover {
            opacity: 1;
            filter: alpha(opacity=100); 
        }
        */
